<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903911889660-j1fisv7l89ifa7q3h0ndpqj22919qok6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903911889660-j1fisv7l89ifa7q3h0ndpqj22919qok6</string>
	<key>API_KEY</key>
	<string>AIzaSyD6jZR3m8ZZOlhwdpPVwz5ceI2DogXzFKc</string>
	<key>GCM_SENDER_ID</key>
	<string>903911889660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.yellowVbox</string>
	<key>PROJECT_ID</key>
	<string>yellowvbox</string>
	<key>STORAGE_BUCKET</key>
	<string>yellowvbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903911889660:ios:96d54d9cfa49effa6cd579</string>
	<key>DATABASE_URL</key>
	<string>https://yellowvbox.firebaseio.com</string>
</dict>
</plist>